<section id="$idprefix$title-slide"$for(title-slide-attributes/pairs)$ $it.key$="$it.value$"$endfor$ class="quarto-title-block">
    <h1 class="title">$title$</h1>
  $if(subtitle)$
    <p class="subtitle">$subtitle$</p>
  $endif$
  
  <div class="quarto-title-authors">
  $for(by-author)$
  <div class="quarto-title-author">
  <div class="quarto-title-author-name">
  $by-author.name.literal$    <a style="text-decoration: underline;" class="custom-author-email" href="mailto:$by-author.email$">$by-author.email$</a>
  </div>
  $if(by-author.affiliations)$
      $for(by-author.affiliations)$
      <p class="quarto-title-affiliation">
        $if(it.url)$
        <a href="$it.url$">
        $endif$
        $it.name$
        $if(it.url)$
        </a>
        $endif$
      </p>
      $endfor$
  $endif$
  </div>
  $endfor$
  </div>
  
  $if(date)$
    <p class="date">$date$</p>
  $endif$
  </section>