/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #383d3d !default;
$presentation-h1-font-size: 3.5rem !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal .slide-logo {
    left: 5% !important;
    right: unset !important;
    bottom: 3%;
    max-height: 120px !important;  /* 10% of viewport height */
    width: auto !important;
    height: auto !important;
  }